In [1]:
print("Hello World!")

Hello World!

In [16]:
print("%3.1f" % 3.1415)

3.1

In [18]:
string  = '720'
print(type(string))
string = int(string)
print(type(string))

<class 'str'>
<class 'int'>

In [21]:
a = 2
b = 4
print(a+b)
print(a*b)
print(a/b)

6
8
0.5

In [23]:
print(6**2)

36

In [27]:
data1 = input()
data2 = input()

data1 = int(data1)
data2 = int(data2)

print(data1 + data2)

3
4
7

In [33]:
data1 = input()
data2 = input()

data1 = int(data1)
data2 = int(data2)

print(data1, "+", data2, "=", data1+data2)
print(data1, "-", data2, "=", data1-data2)
print(data1, "*", data2, "=", data1*data2)
print(data1, "/", data2, "=", "%.1f" % (data1/data2))
print(data1, "//", data2, "=", data1//data2)
print(data1, "%", data2, "=", data1%data2)

5
4
5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1.2
5 // 4 = 1
5 % 4 = 1

In [34]:
code = '000660\n00000102\t12312312'
print(code)

000660
00000102	12312312

In [45]:
data1 = input()
data2 = input()
data1 = int(data1)
data2 = int(data2)

if data1 > data2:
    print(data1)
if data1 < data2:
    print(data2)

5
4
5

In [47]:
num1 = input()
num1 = int(num1)

if num1 % 2 == 0:
    print("num1 is even")
else:
    print("num1 is odd")

5
num1 is odd

In [51]:
num1 = input()
num2 = input()
num3 = input()

num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 < num2:
    min = num1
else:
    min = num2
if min < num3:
    print(min)
else:
    print(num3)

123
111
150
111

In [54]:
point = input()
point = int(point)

if point <= 100 and point > 80:
    grade = "A"
elif point <=80 and point > 60:
    grade = "B"
else:
    grade ="C"
print("grade is ", grade)

78
grade is  B

In [58]:
p_id = input()
if p_id[7] == '1':
    print("man")
else:
    print("woman")

970207-1124017
man

In [60]:
str = "hi hello ..."
print(str.strip('.'))

hi hello

In [61]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."

print(python_desc.count("Python"))

2

In [62]:
letters = "python"

print(letters[1])
print(letters[3])

y
h

In [69]:
total = 0
for num in range(1,11):
    total += num
print(total)

55

In [70]:
num1 = input()
num1 = int(num1)

for i in range(1,10):
    print(num1, "*", i, "=", num1*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [71]:
strings = input()
for string in strings.split(","):
    print(string)

hello, world, park, kim
hello
 world
 park
 kim

In [72]:
for i in range(1,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [74]:
total = 0
num = 1
while num < 101:
    total += num
    num += 1
print(total)

5050

In [75]:
password = "1503"
data = input()
while data != password:
    print("wrong password")
    data = input()
print("correct!")

1504
wrong password
15023
wrong password
123
wrong password
123
wrong password
124
wrong password
12
wrong password
214
wrong password
21
wrong password

wrong password
51
wrong password

wrong password
31
wrong password
3
wrong password
23
wrong password

wrong password
1503
correct!

In [76]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81